- if @entry.inline_playable?
  %div{:style => ""}
    .item{:href => @entry.http_path}
      .cnts
        .btn.play
        .title
          = @entry.link
        .player.inactive
- elsif @entry.directory?
  = @entry.image
  = @entry.link
  %div.right
    %a{:href => "/play/#{@entry.path.split("/").map{|part| Rack::Utils.escape(part)}.join("/")}.pls"}
      %img{:src => "/img/play-d.png", :height => "20px", :width => "20px"}
- else
  = @entry.image
  = @entry.link  
  
